{
  "presets": [
    [
      "@babel/preset-react", {
        "pragma": "dom",
        "pragmaFrag": "DomFrag",
        "throwIfNamespace": false
      }
    ],
    [
      "@babel/preset-env", {
        "loose": true,
        "targets": {
          "node": "10.13"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-object-assign"
  ]
}

