html {
	scroll-behavior: smooth;
	font-size: $font-size-base;
}

body {
	font-family: 'Roboto', arial,helvetica,sans-serif;
	overflow-x: hidden;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', arial, helvetica, sans-serif;
	font-weight: 400;
	line-height: 100%;
}

h1 {
	font-size: 48px;
}

h2, h3, h4, h5, h6 {
	margin-bottom: 1rem;
}

figure {
	margin: 0;
}

.main {
	width: 100%;
	max-width: 1550px;
	margin: 0 auto;
}

.section {
	padding: 60px 0;
}

.section + .section {
	padding-top: 0;
}

.not-animated { visibility: hidden; }

a:link,
a:active,
a:visited { 
	color:#00a0eb;
	text-decoration:none;
}
a:hover { 
	color:#006cda;
}

.fade-in {
	opacity: 1 !important;
	visibility: visible !important;
}

.no-scroll {
	overflow: hidden !important;
}