.m-hero {
  overflow: hidden;
  
  .is--left {
    &-top {
      justify-content: flex-start;
      align-items: flex-start;
    }

    &-middle {
      justify-content: flex-start;
      align-items: center;
    }

    &-bottom {
      justify-content: flex-start;
      align-items: flex-end;
    }
  }

  .is--right {
    &-top {
      justify-content: flex-end;
      align-items: flex-start;
    }

    &-middle {
      justify-content: flex-end;
      align-items: center;
    }

    &-bottom {
      justify-content: flex-end;
      align-items: flex-end;
    }
  }

  .is--center {
    &-top {
      justify-content: center;
      align-items: flex-start;
    }

    &-middle {
      justify-content: center;
      align-items: center;
    }

    &-bottom {
      justify-content: center;
      align-items: flex-end;
    }
  }
}