.m-results {
  &__item {
    margin-bottom: .875rem;
  }

  &__inner {
    background-color: #fafafa;
    padding: 10px;
  }

  &__heading {
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 10px;
  }
}