
.header {
  margin-bottom: 20px;
}

.visibility-hidden {
  clip-path: inset(100%);
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; /* added line */
  visibility: hidden;
  width: 1px;
}

.fade.show {
  opacity: 1;
  display: block;
}

.modal--backdrop {
  background: rgba(0,0,0, 0.45);
}

/*samples*/
.consultant-results {
  margin-top: 30px;
}